@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #333333;
  --secondary-color: #666666;
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
}

.heading {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #4F378B; 
  padding: 2px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #C9CDFF; 
  border-radius: 10px;
  border: 2.5px solid #4F378B
}

::-webkit-scrollbar-thumb:hover {
  background: #6750A4; 
}